.myweb{
    background: black;
    padding: 15px;
    text-align: center;
    color: white;
}
.ProductSection{
    background: orange;
    padding: 12px;
    margin: 30px;
    border-radius: 10px;
}
.Product{
    border: 10px solid black;
    border-radius: 10px;
    width: 220px;
    margin: 30px;
    padding: 15px;
    position: relative;
}
.sale{
    position: absolute;
    top: -10px;
    right: -10px;
    background: red;
    color: white;
    padding: 4px 10px;
    border-radius: 15px;
    font-size: 12px;
}
.chat{
    position: absolute;
    top: -50px;
    right: -50px;
    background: green;
    color: white;
    
}