body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #f0f0f0;
}
.ball{
    width: 60px;
    height: 60px;
    background: red;
    border-radius: 50%;
    position: relative;
    animation: bounce 0.5s infinite;
    box-shadow: 0 10px 20px rgb(0,0,0);
}
@keyframes bounce{
    0%{
        top: 0;
    }
    50%{
        top: 300px;
    }
    100%{
        top: 0;
    }
}