
    /* //id selector */
    #one{
        color: red;
    }
    /* //class selector */

    .two{
        color: aqua;
    }

    /* element selector */
    h3{
        color: blue !important;
    }
    /* universal selector */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .four{
        color: violet;
        height: 200px;
        width: 200px;
        border: 2px solid black;
        background: orange;
        .hii{
            /* background-color: brown; */
            height: 100px;
            width: 100px;
            border: 1px solid black;
            background: red;
        }
    }
    .a{
        margin: 20px;
        padding: 30px;
        border: 10px solid blueviolet;
        font-size: 20px;

        height: 60px;
        width: 200px;
        border: 2px solid black;
        background-color: tomato;
    }
    .b{
       height: 60px;
        width: 200px;
        border: 4px solid black;
        background-color: tan ; 
    }
    .c{
        width: 200px;
        margin: 40;
        background-color:cadetblue;
        height: 40px;
        border: 10px solid red;

    }